.header{
    background-color: var(--color-primary);
    width: 98%;
    height: 70px;
    color: var(--color-text);
    border-radius: var(--radius-8);
    margin-top: 12px;
    margin-inline: auto;
    position: relative;
}



.search-field{
    height: 48px;
    max-width: 400px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 12px;
    background-color: var(--color-primary-light);
    color: inherit;
    border-radius: var(--radius-4);  
}

.search-field::placeholder{
    color: var(--color-text-dark);
}

.counter{
    display: inline;
    font-size: 1.8rem;
    font-weight: var(--fw-bold);
}