.main-content{
    height: calc(100vh - 100px);
    max-width: 900px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    align-items: center;
}
.main-content .container{
    height: 95%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    overflow: hidden;
}

.box-movies{
    background-color: var(--color-background-500);
    border-radius: var(--radius-12);
    position: relative;
    overflow-y: auto;
}

.box-movies:nth-of-type(1){
    padding-block: 4px;
}

.box-movies::-webkit-scrollbar{
    width: 4px;
}

.box-movies::-webkit-scrollbar-thumb{
    background-color: transparent;
}

.box-movies:is(:hover,:focus-visible)::-webkit-scrollbar-thumb{
    background-color: var(--color-background-100);
    border-radius: var(--radius-pill);
}


.box-movies li{
    padding: 20px 32px;
}

.box-movies li:not(:last-child){
    border-block-end: 1px solid var(--color-background-100);
}

.controler{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    color: var(--color-text);
    background-color: var(--color-background-900);
    border-radius: var(--radius-circle);
    font-weight: var(--fw-bold);
    font-size: 20px;
    z-index: 10;
}

.stats{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 126px;
    padding: 0 24px;
    background-color: var(--color-background-100);
}

.stats > h3{
    text-transform: uppercase;
}

.box-movies:nth-of-type(2) > ul{
    margin-block-start: 130px;
}

.delete-btn{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;   
}

.delete-btn span{
    background-color: red;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: var(--radius-circle);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-details{
    background-color: var(--color-background-100);
    width: 100%;
}

.details{
    height: calc(100% - 222px - 24px);
    padding-inline: 42px;
}

.return-btn{
    position: absolute;
    top: 16px;
    left: 16px;
}

.return-btn svg{
    background-color: #fff;
    border-radius: var(--radius-circle);
    transition: .5s;
}

.return-btn:is(:hover,:focus-visible) svg{
    background-color: var(--color-primary);
    fill: #fff;
}
