.starRating{
    width: max-content;
    background-color: var(--color-background-100);
    padding: 18px 24px;
    border-radius: var(--radius-8);
}

.text{
    margin-left: 16px;
}

.star{
    display: flex;
    align-items: center;
    justify-content: center;
}