.starRating{
    width: 100%;
    background-color: var(--color-background-100);
    padding: 16px 24px;
    border-radius: var(--radius-8);
}

.text{
    margin-left: 16px;
    width: 24px;
}

.star{
    display: flex;
    align-items: center;
    justify-content: center;
    
}