/* base */
@import url('./css/styleCSS/base/reset.css');
@import url('./css/styleCSS/base/base.css');
@import url('./css/styleCSS/base/typography.css');

/* utilities */
@import url('./css/styleCSS/utilities/flex.css');
@import url('./css/styleCSS/utilities/grid.css');
@import url('./css/styleCSS/utilities/global.css');

/* componentCSS */
@import url('./css/componentCSS/Header.css');
@import url('./css/componentCSS/Main.css');

/* starRating */
@import url('./css/componentCSS/starRating.css');

html{
  font-size: 10px;
  scroll-behavior: smooth;
}

body{
  height: 100vh;
  overflow: hidden;
  font-family: var(--ff-primary);
  font-size: var(--fs-base);
  font-weight: var(--fw-normal);
  line-height: 1.6;
  background-color: var(--color-background-900);
  color: var(--color-text);

}